body {
    width: 400px;
    padding: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    font-size: 14px;
    /* display: block; */
}

p, ul {
    font-size: 14px;
}

ul {
    padding-left: 14px;
    list-style-type: circle;
}

.accept {
    color: #00a300;
}

.piece {
    width: auto;
    height: auto;
    margin: 2px;
    flex: 1;
    flex-basis: 5%;
}

.piece > img {
    width: 60px;
}

.skip {
    color: #daa520;
}

.square {
    display: block;
}

.symbol {
    font-size: 40px;
}

.title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

#back {
    float: right;
    font-size: 14px;
    width: 50px;
}

#pieces {
    width: 100%;
}

#preview-pieces {
    display: flex;
    flex-flow: row wrap;
}

#preview-pieces {
    margin-bottom: 10px;
}

#reset {
    width: 100%;
    margin-top: 20px;
    background-color: cornflowerblue;
}

#reset:hover {
    background-color: #4580ee;
}

#result {
    list-style: none;
    padding-left: 0;
}
